.tool {
  background-color: #d5d4d2;
  opacity: 0.6;
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  transition: 0.2s ease;
}

.tool:hover {
  opacity: 1;
  background-color: #d4d3d1cc;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tool__text {
  font-size: 1rem;
  text-align: center;
}
