.project {
  margin-top: 65px;
  padding: 3rem 1rem;
  background-color: aquamarine;
}

.project__title {
  font-size: 4rem;
}

.project__description {
  font-size: 2.25rem;
}

.project__image {
  width: 100%;
}

.project__url {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 300px;
}
