.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  background-color: transparent; /* Button background color */
  color: #fff; /* Button text color */
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  font-size: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* .scroll-to-top-button:hover {
  background-color: var(--primary-color);
} */

.scroll-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}
