.project-card {
  display: flex;
  gap: 3rem;
  width: 100%;
  margin: 4rem;
}

.project-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.project-card__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card .project-card__content {
  align-items: center;
  text-align: center;
}

.project-card__title {
  font-size: 3rem;
  text-transform: uppercase;
}

.project-card__intro {
  font-size: 1.75rem;
  margin: 2rem 0;
}

.project-card__image-container {
  max-width: 50%;
}

.project-card__image {
  display: block;
  width: 100%;
  box-shadow: 4px 6px 20px;
}

.project-card__button-container {
  width: 200px;
  margin: 0 auto;
}

.project-card__button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-card__button:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .project-card {
    flex-direction: column;
  }

  .project-card:nth-child(odd) {
    flex-direction: column;
  }

  .project-card__image-container {
    max-width: 100%;
  }

  .project-card__content {
    width: 100%;
  }
}
