.expertise {
  background-image: url(https://imgpile.com/images/GEuX1j.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

.expertise__title {
  text-align: center;
  margin: 3rem 0;
  font-weight: 100;
}
