.tool-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* Responsive grid with a minimum column width of 150px */
  gap: 20px; /* Adjust the gap size as needed */
  padding: 20px;
  font-size: 1.25rem; /* Adjust the font size as needed */
  justify-content: space-evenly;
}
