.header {
  background-color: #010101;
  height: 65px;
  z-index: 1;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s ease-in;
  overflow: hidden;
  border-bottom: 0.5px solid black;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__logo-link {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  overflow: visible;
}

.navigation__logo {
  width: 60px;
  height: auto;
  /* border-radius: 50%; */
}

.navigation__icon {
  display: none;
  user-select: none;
  align-self: center;
  cursor: pointer;
}

.navigation__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .navigation__icon {
    display: block;
  }

  .navigation__list {
    position: fixed;
    left: -100%;
    top: 65px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 80vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }

  .navigation__list.active {
    left: 0;
  }
}
