.home {
  background-image: url(https://imgpile.com/images/GEur51.jpg);
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding: 2rem;
  text-align: center;
  color: white;
}

.home__title {
  text-transform: uppercase;
  font-size: 5rem;
}

.home__subtitle {
  font-size: 2.5rem;
}

.home__description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.home__arrow-down .MuiSvgIcon-root {
  cursor: pointer;
}

.home__arrow-down:hover .MuiSvgIcon-root {
  transform: translateY(10px);
  transition: transform 0.3s ease;
}
