.contact {
  background-image: url('https://imgpile.com/images/GENMHg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 3rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  text-align: center;
  color: white;
}

.contact__description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contact__links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 22px;
}

.contact__link {
  text-decoration: none;
  font-size: 5rem;
  color: var(--color-primary);
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact__link:hover {
  transform: scale(1.1);
}

.contact__link.linkedin:hover {
  color: #0077b5;
}

.contact__link.github:hover {
  color: #211f1f;
}

.contact__link.email:hover {
  color: #ff5722;
}
