@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #e74c3c;
}

html {
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

body {
  font-size: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  margin: 4rem 0;
}

p {
  font-size: 1.125rem;
}

.uppercase {
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px; /* Increase base font size for larger screens */
  }
}

@media screen and (max-width: 868px) {
  html {
    font-size: 12px; /* Increase base font size for larger screens */
  }
}
